name: Build

on:
    push:
        branches: [ main]
    pull_request:
concurrency:
    group: build-${{ github.ref }}
    cancel-in-progress: true

jobs:
    iterations:
       name: Generate Iterations
       runs-on: ubuntu-latest
       outputs:
          iterations: ${{ steps.calculate_iterations.outputs.iterations }}
       steps:
         - id: calculate_iterations
           shell: bash
           run: |
             iters="${{ github.event.inputs.iterations }}"
             if [ -z "$iters" ]; then iters=2; fi
   
             list="["
             for i in $(seq 1 "$iters"); do
               if [ "$i" -eq 1 ]; then
                 list="$list\"$i\""
               else
                 list="$list, \"$i\""
               fi
             done
             list="$list]"
             echo "iterations=$list" >> "$GITHUB_OUTPUT"

    seed:
        needs: iterations
        strategy:
            matrix:
                java: [17]
    
        runs-on: ubuntu-latest
        timeout-minutes: 60

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - uses: cdsap/build-process-watcher@v0.4.1
              with:
                remote_monitoring: "true"
        
                
            - name: Set up JDK ${{ matrix.java }}
              uses: actions/setup-java@v5
              with:
                  distribution: 'temurin'
                  java-version:  ${{ matrix.java }}
          
            - name: Execute test binary and cli
              run: |
                  ./gradlew build -x spotlessKotlinCheck -Dscan.tag.seed-test_1
                  ls
                  cd ~/.konan
                  ls -la
              env:
                  DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_TOKEN }}
        outputs:
          iterations: ${{ needs.iterations.outputs.iterations }}




    build:
        needs: seed
        strategy:
            matrix:
                java: [17]
                run: ${{ fromJson(needs.seed.outputs.iterations) }}

        runs-on: ubuntu-latest
        timeout-minutes: 60

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - uses: cdsap/build-process-watcher@v0.4.0
              with:
                remote_monitoring: true
                collect_gc: true
            - name: Set up JDK ${{ matrix.java }}
              uses: actions/setup-java@v5
              with:
                  distribution: 'temurin'
                  java-version:  ${{ matrix.java }}
            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5

            - name: Execute test binary and cli
              run: |
                  ./gradlew build -x spotlessKotlinCheck -Dscan.tag.konan--with-setup-gradle
                 
                 
              env:
                  DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_TOKEN }}
